--extra-index-url https://download.pytorch.org/whl/cu113
httpx==0.27.0
fastapi==0.110.0
uvicorn==0.28.1
numpy==1.26.4
loguru==0.7.2
pydantic==2.7.1
packaging

git+https://github.com/tripathiarpan20/BentoML.git@deea3a272f4228b71db36d540ca836eeff687232
librosa==0.10.1
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
timm==0.6.7
ftfy==6.2.0
regex==2024.5.10
einops==0.8.0
fvcore==0.1.5.post20221221
decord==0.6.0
iopath==0.1.10
numpy==1.26.4
soundFile==0.12.1
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
