--extra-index-url https://download.pytorch.org/whl/cu124
httpx==0.27.0
fastapi==0.115.2
uvicorn==0.28.1
numpy==2.2.2
loguru==0.7.2
pydantic==2.7.1
packaging
git+https://github.com/tripathiarpan20/BentoML.git@deea3a272f4228b71db36d540ca836eeff687232

torch>=2.1.0
torchaudio>=2.1.0
soundfile>=0.12.1
git+https://github.com/Zyphra/Zonos.git@bc40d98e1e1ab54fc65c483be127a90e3c7c0645
mamba-ssm @ https://github.com/state-spaces/mamba/releases/download/v2.2.4/mamba_ssm-2.2.4+cu12torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
causal-conv1d @ https://github.com/Dao-AILab/causal-conv1d/releases/download/v1.5.0.post8/causal_conv1d-1.5.0.post8+cu12torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
python-multipart==0.0.18
typing-extensions>=4.8.0
cutlet
mecab-python3
unidic-lite
langid
pydub